html, body {
  margin: 0px;
  padding: 0px;
  background: #fcfcfc;
  font-size: 12px;
}

/**
 * Flexbox utils
 */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Login form
 */
.login {
  background: #666;
  margin-top: 20vh;
  padding-left: 1rem;
  border: solid 1px #eee;
}
.login-form {
  box-shadow: 0px 1px 3px -2px #999;
  padding: 3rem 4rem 6rem;
  background: #fff;
}
.login-form h3 {
  margin: 0px;
  padding: 0px;
}
.card-input {
  padding: 1rem;
}
.card-input label {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: #666;
}
.card-input input {
  padding: 0.5rem;
  outline: 0;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.card-input button {
  padding: 0.5rem 1rem;
}
