html, body {
  margin: 0px;
  padding: 0px;
  background: #f9f9f9;
  font-size: 12px;
}

h1 {
  font-size: 2rem;
  margin: 0px;
  padding: 0.5rem;
}

/**
 * Header
 */
.header {
  padding: 4px 10px;
  height: 40px;
  border-bottom: solid 1px #d9d9d9;
  box-shadow: 0px 1px 6px -2px #aaa;
  background: #fff;
  display: flex;
  z-index: 999;
  position: relative;
}

/**
 * Container
 */
.container {
  height: calc(100vh - 50px);
  overflow: hidden;
}

/**
 * Posts
 */
.post {
  background: #fff;
  padding: 4px 8px;
  margin: 8px;
  overflow: hidden;
  height: calc(100% - 16px);
}

.error {
  background: #ffcccc;
  padding: 4px;
}
